<div id="comprovante_modal" class="modal bottom-sheet modal-grande"></div>

<h1>Comprovantes</h1>

<ul id="collapsible_comprovante" class="collapsible popout" data-collapsible="accordion">
  <% @comprovantes.each do |comprovante| %>
    <%= render 'comprovante', comprovante: comprovante %>
  <% end %>
</ul>
