<a class="btn-floating btn-floating-top btn-large waves-effect waves-light secondary-color"><i class="material-icons">add</i></a>

<%= link_to new_comprovante_path, class: 'btn-floating btn-floating-top btn-large waves-effect waves-light secondary-color', remote: true do %>
  <i class="small material-icons">add</i>
<% end %>

<div id="comprovante_modal" class="modal bottom-sheet modal-grande"></div>

<h1>Comprovantes</h1>

<ul id="collapsible_comprovante" class="collapsible popout" data-collapsible="accordion">
  <% @comprovantes.each do |comprovante| %>
    <%= render 'comprovante', comprovante: comprovante %>
  <% end %>
</ul>
