<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "impressao" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= wicked_pdf_javascript_include_tag "impressao" %>
  </head>
  <body>
    <div id="header">
      <%#= wicked_pdf_image_tag 'mysite.jpg' %>
    </div>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
